img {
    height: 350px;
}
#text{
    padding-top: 50px;
    font-size: 10px;
}
div {
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
    padding-top: 80px;
}

body {
    background-color: #d4e8ee;
}